body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('../static/fond.jpg') no-repeat center center fixed;
    background-size: cover;
}

header, nav, p {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
}

header {
    text-align: center;
}

nav {
    text-align: center;
    margin: 10px auto;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
}
.container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.3);
    outline: none;
}

input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.form-group {
    margin-bottom: 20px;
}

.form-group:last-child {
    margin-bottom: 0;
}

.error-message {
    color: red;
    text-align: center;
}
